{% extends 'movie/base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}
    <h1>Movie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Image</th>
                <th>Description</th>
                <th>VoteAverage</th>
                <th>RunningTime</th>
                <th>ReleaseDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.image }}</td>
                <td>{{ movie.description }}</td>
                <td>{{ movie.voteAverage }}</td>
                <td>{{ movie.runningTime }}</td>
                <td>{{ movie.releaseDate ? movie.releaseDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('movie_show', {'id': movie.id}) }}">show</a>
                    <a href="{{ path('movie_edit', {'id': movie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('movie_new') }}">Create new</a>
{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h3 class="card-title">Films</h3>
        <a type="link" class="btn btn-primary " href="{{path('movie_new')}}">ADD</a>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
    <div class="container">

<!--
      <a type="link" class="btn btn-primary " href="{{path('movie_new')}}">Create article</a><br>
     <a type="link" class="btn btn-default" href="{{path('movies')}}">buy articles</a><br>-->

      <table class="table table-bordered table-striped" >
        <thead>
          <tr>
          <th>Id</th>
                <th>Title</th>
                <th>Image</th>
                <th>Description</th>
                <th>VoteAverage</th>
                <th>RunningTime</th>
                <th>ReleaseDate</th>
            <th colspan="2">Operations</th>

          </tr>
        </thead>
        <tbody>

          {% for movie in movies %}


              <tr>
                <td>{{ movie.id }}</td>
                <td>{{ movie.title }}</td>
                <td>
                 {% if movie.image %}
			        <img src="{{ '/movies/' ~ movie.image }}" alt="{{movie.title}}">
				{% else %}
					<img src="{{ asset('assets/img/covers/cover.jpg') }}" alt="{{movie.title}}">
				{% endif %}
                </td>
                <td>{{ movie.description }}</td>
                <td>{{ movie.voteAverage }}</td>
                <td>{{ movie.runningTime }}</td>
                <td>{{ movie.releaseDate ? movie.releaseDate|date('Y-m-d') : '' }}</td>

                <td colspan="2">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{{ path('movie_show', {'id':movie.id}) }}"  class="btn btn-primary">
                    <i class="fas fa-eye"></i>
                  </a>
                      <a href="{{ path('movie_edit', {'id':movie.id}) }}" class="btn btn-warning">
                      <i class="fas fa-edit"></i>
                    </a>
                    </a>
                      <a href="{{ path('movie_delete', {'id':movie.id}) }}" class="btn btn-danger">
                      <i class="fas fa-trash"></i>
                    </a>
                  </div>
                </td>

              </tr>



          {% endfor %}
        </tbody>
      </table>

    </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->


{% endblock %}

