{% extends 'authbase.html.twig' %}

{% block content %}
{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'sign__form fos_user_registration_register'}}) }}
    <div class="sign__group">
        {{ form_widget(form.username, {'attr':{'placeholder':'Username'}}) }}
    </div>
    <div class="sign__group">
        {{ form_widget(form.email, {'attr':{'placeholder':'Email'}}) }}
    </div>
    <div class="sign__group">
        {{ form_widget(form.plainPassword.first, {'attr':{'placeholder':'Password'}}) }}
    </div>
    <div class="sign__group">
        {{ form_widget(form.plainPassword.second, {'attr':{'placeholder':'Confirmation'}}) }}
    </div>


    <button class='sign__btn'  type="submit" value="Register"  >{{ 'registration.submit'|trans }}</button>
    <span class="sign__text">You have an account? <a href="{{ path('fos_user_security_login') }}">Sign in!</a></span>

  
{{ form_end(form) }}
 
{% endblock %}
