<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ asset('assets/css/bootstrap-reboot.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/bootstrap-grid.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/jquery.mCustomScrollbar.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/nouislider.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/ionicons.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/plyr.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/photoswipe.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/default-skin.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="{{ asset('assets/icon/favicon-32x32.png') }}" sizes="32x32">
	<link rel="apple-touch-icon" href="{{ asset('assets/icon/eeeeefavicon-32x32.png') }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/icon/apple-touch-icon-72x72.png') }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/icon/apple-touch-icon-114x114.png') }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/icon/apple-touch-icon-144x144.png') }}">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>Movie</title>

</head>
<body class="body">
		
	<!-- header -->

	{% include 'movie/header.html.twig' %}
	<!-- end header -->

	{% block content %}

	{% endblock %}


	<!-- footer -->
	{% include 'movie/footer.html.twig' %}
	<!-- end footer -->

	<!-- JS -->
	<script src="{{ asset('assets/js/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
	<script src="{{ asset('assets/js/jquery.mousewheel.min.js') }}"></script>
	<script src="{{ asset('assets/js/jquery.mCustomScrollbar.min.js') }}"></script>
	<script src="{{ asset('assets/js/wNumb.js') }}"></script>
	<script src="{{ asset('assets/js/nouislider.min.js') }}"></script>
	<script src="{{ asset('assets/js/plyr.min.js') }}"></script>
	<script src="{{ asset('assets/js/jquery.morelines.min.js') }}"></script>
	<script src="{{ asset('assets/js/photoswipe.min.js') }}"></script>
	<script src="{{ asset('assets/js/photoswipe-ui-default.min.js') }}"></script>
	<script src="{{ asset('assets/js/main.js') }}"></script>
	
	{% block javascript %}
	
	{% endblock %}
</body>

</html>